<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uk.gov.dft.bluebadge.service.referencedata.repository.mapper.ReferenceDataMapper">

    <select id="findByDomain" parameterType="String" resultType="ReferenceDataEntity">
        SELECT
            code                  AS shortCode,
            description           AS description,
            meta_data             AS metaData,
            group_code            AS groupShortCode,
            group_description     AS groupDescription,
            sub_group_code        AS subgroupShortCode,
            sub_group_description AS subgroupDescription,
            display_order         AS displayOrder
        FROM reference_data_vw
        WHERE data_domain_id = #{domainId}
    </select>

    <update id="updateLAMetaData" parameterType="LocalAuthorityEntity">
        UPDATE reference_data
        SET
            meta_data = meta_data::JSONB || '{
            "nameLine2": "${nameLine2}",
            "addressLine1": "${addressLine1}",
            "addressLine2": "${addressLine2}",
            "addressLine3": "${addressLine3}",
            "addressLine4": "${addressLine4}",
            "town": "${town}",
            "county": "${county}",
            "postcode": "${postcode}",
            "country": "${country}",
            "nation": "${nation}",
            "contactNumber": "${contactNumber}",
            "contactUrl": "${contactUrl}",
            "emailAddress": "${emailAddress}",
            "badgePackType": "${badgePackType}",
            "badgeCost": "${badgeCost}",
            "differentServiceSignpostUrl" : "${differentServiceSignpostUrl}"}'
        WHERE data_group_id = 'LA' AND code = #{shortCode}
    </update>
</mapper>
