<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uk.gov.dft.bluebadge.service.referencedata.repository.mapper.ReferenceDataMapper">

    <select id="findByDomain" parameterType="String" resultType="ReferenceDataEntity">
        SELECT
            code                  AS shortCode,
            description           AS description,
            meta_data             AS metaData,
            group_code            AS groupShortCode,
            group_description     AS groupDescription,
            sub_group_code        AS subgroupShortCode,
            sub_group_description AS subgroupDescription,
            display_order         AS displayOrder
        FROM reference_data_vw
        WHERE data_domain_id = #{domainId}
    </select>

    <update id="updateLAMetaData" parameterType="LocalAuthorityEntityUpdateParams">
        UPDATE reference_data
        SET
        description = #{description},
        meta_data = meta_data::JSONB || #{localAuthorityInJson}::JSONB
        WHERE data_group_id = 'LA' AND code = #{shortCode}
    </update>

    <update id="updateLCMetaData" parameterType="LocalCouncilEntityUpdateParams">
        UPDATE reference_data
        SET
          description = #{description},
          meta_data = meta_data::JSONB || #{json}::JSONB
        WHERE data_group_id = 'LC' AND code = #{shortCode}
    </update>
</mapper>
